<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet">

<div class="gallery">
    <a href="{{ '/assets/images/neon-what-preview.png' | relative_url }}" data-lightbox="gallery" data-title="Описание1">
        <img src="{{ '/assets/images/neon-what-preview.png' | relative_url }}" width="150" alt="Описание1">
    </a>
    <a href="{{ '/assets/images/neon-what-preview.png' | relative_url }}" data-lightbox="gallery" data-title="Описание2">
        <img src="{{ '/assets/images/neon-what-preview.png' | relative_url }}" width="150" alt="Описание2">
    </a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
<script>
    lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true,
        'fadeDuration': 200
    })
</script>