---
---

@import "{{ site.theme }}";
.project-image {
  width: 200px;  /* Фиксированная ширина */
  height: auto;  /* Автоматическая высота (сохраняет пропорции) */
  /* или */
  // max-width: 100%; /* Ограничивает ширину, но не растягивает */
}
.icon {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}